<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <nav th:replace="~{fragments/layout :: header}"></nav>
  <aside th:replace="~{fragments/layout :: sidebar}" th:with="activePage='historiaClinica'"></aside>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><i class="fas fa-notes-medical mr-2"></i>Ver Historia Clínica</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
              <li class="breadcrumb-item"><a th:href="@{/historia-clinica}">Historia Clínica</a></li>
              <li class="breadcrumb-item active">Ver</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div id="hcVerContenido"></div>
      </div>
    </section>
  </div>

  <footer th:replace="~{fragments/layout :: footer}"></footer>
</div>

<div th:replace="~{fragments/layout :: modal-confirmar-eliminar}"></div>
<div th:replace="~{fragments/layout :: toast-container}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>